<!DOCTYPE html>
<html>
<head>
    <title>MCPS Repair Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="topbar">
    <h1>MCPS Repair Status Portal</h1>

    <a href="{{ url_for('logout') }}">Logout</a>
</div>

<div class="container">

<form method="get" class="search-box">
    <input
        type="text"
        name="search"
        value="{{ search }}"
        placeholder="Search serial number, intake ID, or model"
    >

    <button type="submit">Search</button>
</form>

<div class="table-card">
    <table>
        <thead>
            <tr>
                <th>Intake ID</th>
                <th>Model</th>
                <th>Serial Number</th>
                <th>Status</th>
                <th>Received</th>
</html>