body {
    margin: 0;
    background: #081225;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}

.login-card,
.table-card,
.detail-card {
    background: #13203a;
    border-radius: 16px;
    padding: 30px;
}

.login-card {
    width: 400px;
    margin: 120px auto;
}

input {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

button,
}